@model HomeBlogModel
@{
    ViewData["Title"] = "List";
}


<div class="container my-3">

    <div class="row">
        <div class="col">
            <partial name="_Slider" model="@Model.SliderBlogs" />
        </div> 
    </div>
    <div class="row my-3">  
        <div class="col-md-9">
            <partial name="_BlogList" model="@Model.HomeBlogs" />
        </div>
        <div class="col-md-3">
            <partial name="_SearchBox" />
            @await Component.InvokeAsync("CategoryMenu")
        </div>
       
    </div> 
</div>   



