<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog</title>
    <link href="~/modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/all.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-toggleable-md navbar-dark bg-dark">
        <div class="container ">
            <a class="navbar-brand" style="margin-left: 15px;" href="/">
                WriteForGame
            </a>
            <button class="navbar-toggler collapsed mr-sm-0 mr-md-3" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarColor01" style="">
                <ul class="navbar-nav mr-auto  d-flex">
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Blog/List">Admin</a>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/List">Blog</a>
                    </li>
                </ul>

               

                @if (User.Identity.IsAuthenticated)
                {
                   
                        <span class="text-white mr-2">@User.Identity.Name.ToUpper()</span>
                        <a class="mt-2" asp-action="Logout" asp-controller="Account">

                            <i class="fas fa-sign-out-alt fa-2x text-white"></i>
                        </a>
                 
                }
                else
                {
                    <a asp-action="Login" asp-controller="Account" class="btn btn-outline-secondary my-2  mr-1">Sign In</a>
                    <a asp-action="Register" asp-controller="Account" class="btn btn-outline-secondary my-2">Sign Up</a>
                }


            </div>
        </div>




    </nav>

    <div id="main">




        @if (TempData["message"] != null)
        {
            <div class="container alert alert-success">@TempData["message"]</div>
        }

        @RenderBody()

        

    </div>

    <footer class="py-5 bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md">
                    <i class="fab fa-blogger fa-3x"></i>
                    <small class="d-block mb-3 text-muted">© 2017-2019</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Cool stuff</a></li>
                        <li><a class="text-muted" href="#">Random feature</a></li>
                        <li><a class="text-muted" href="#">Team feature</a></li>
                        <li><a class="text-muted" href="#">Stuff for developers</a></li>
                        <li><a class="text-muted" href="#">Another one</a></li>
                        <li><a class="text-muted" href="#">Last time</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Resource</a></li>
                        <li><a class="text-muted" href="#">Resource name</a></li>
                        <li><a class="text-muted" href="#">Another resource</a></li>
                        <li><a class="text-muted" href="#">Final resource</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Business</a></li>
                        <li><a class="text-muted" href="#">Education</a></li>
                        <li><a class="text-muted" href="#">Government</a></li>
                        <li><a class="text-muted" href="#">Gaming</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Team</a></li>
                        <li><a class="text-muted" href="#">Locations</a></li>
                        <li><a class="text-muted" href="#">Privacy</a></li>
                        <li><a class="text-muted" href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>



    <script src="~/modules/jquery/dist/jquery.min.js"></script>
    <script src="~/modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
