<form asp-controller="Blog" asp-action="Index" method="get" class="form-inline">
      
    
    <div class="card bg-dark mb-3">
        <div class="card-body">
            <div class="input-group mr-md-2">
                <input type="text"  name="q" id="q" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary my-sm-0 mr-1" type="submit" id="button-addon2">Search</button>
                </div>
            </div>
           
        </div>
    </div>
    

   
    
   
</form>
