@model IEnumerable<Blog>
@{
    ViewData["Title"] = "Index";
}

<div class="container mt-3">
    <div class="row my-3">
        <div class="col-md-9">
            @Html.Partial("_BlogList", Model)
        </div>
        <div class="col-md-3">
            <partial name="_SearchBox" />
            @await Component.InvokeAsync("CategoryMenu")
        </div>

    </div>
</div>

